.root {
  -fx-font-family: "Segoe UI Semibold";
  -fx-alignment: center;
  -fx-tile-alignment: center;
  -fx-background: #9b9b9e;
  text_color: black;
}

/*Default button styling*/
.button {
  -fx-alignment: center;
  -fx-text-fill: text_color;
  -fx-font-size: 12;
  -fx-border-color: darkgray;
  -fx-border-width: 2px;
  -fx-background-color: lightgray;
  -fx-padding: 12px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
}

#Title {
  -fx-alignment: center;
  -fx-padding: 10px;
  -fx-font-size: 20;
  -fx-background-color: lightgray;
}

#Title2 {
  -fx-alignment: center;
  -fx-padding: 30px;
  -fx-font-size: 25;
  -fx-background-color: #F3F2F1;
}

#Board {
  -fx-alignment: center;
  -fx-tile-alignment: center;
}

#Buttonbox {
  -fx-alignment: center;
  -fx-padding: 30px;
  -fx-arc-width: 200;
}

#Text{
  -fx-font-size: 16;
  -fx-padding: 12px;
}

